@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #fdfbf0;
}

.firstbar{
    background: linear-gradient(to right, #57e5c4, #266586);
    background-image: url("/assets/images/header_footer.png");
    background-repeat: no-repeat;
    height: 140px;
    background-size: contain;
    border-color: #fdfbf0;
    border-width: 0px;
}

.key-pattern {
    background-image: url("/img/pattern.png");
    background-repeat: repeat;
    background-size: 20px;
    border-radius: 125px;
    color: #57e5c4;
}

.key-pattern button {
    color: #266586;
    background-color: #fdfbf0;
}

.key-pattern a:link, .key-pattern a:visited {
    color: #57e5c4;
}

.facebook-button button {
    background-color: white;
    color: #266586;
    border-color: #57e5c4;
    border-width: 3px;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.firstbar .navbar-nav > li > a:hover {
    background-color: transparent;
    color: white;
}

.firstbar .navbar-nav > li > a {
    color: white;
    font-size: 10px;
    margin-top: 30px;
}

.navbar-brand > img {
    margin-top: 25px;
    margin-left: 20px;
    height: 30px;
}

.secondbar {
    background-image: none;
    background-color: #266586;
    color: white;
    position: relative;
}

.secondbar .navbar-nav > li > a:hover {
    background-color: transparent;
    color: white;
}

.secondbar .navbar-nav > li > a {
    color: white;
}


